
#blog {
    padding: 30px 0;
    .container {
        @include flex(center, center, column, 50px);

        .blog-title {
            text-align: center;
            @include flex(center,center,column);
            position: relative;
            font-size: 40px;
            font-weight: bold;
            color: black;

            // &::after {
            //     content: "";
            //     width: 25px;
            //     border: 2px solid $site-logo-color;
            //     position: absolute;
            //     bottom: -25px;
            // }
        }

        .blog-info {
            text-align: center;
            font-size: 18px;
            color: gray;
            width: 75%;
        }

        .blog-cards {
            width: 100%;
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .blog-card {
                @include flex(center, center, column, 30px);
                width: 100%;
                .blog-img {
                   position: relative;
                   width: 100%;
                    .icon {
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        transform: scale(0);
                        @include flex(center, center);
                        position: absolute;
                        top: 0;
                        background-color: rgba(0,0,0,.5);
                        transition: all .5s ease;
                        font-size: 30px;
                    }

                    .image {
                        overflow: hidden;
                        width: 100%;

                        img{
                            transition: all .5s ease;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .card-info {
                    @include flex(flex-start, center, column, 20px);
                    .title {
                        transition: all .3s ease;
                        font-weight: bold;
                        font-size: 19px;
                    }
                    .time {
                        span {
                            color: $hover-bg-color;
                        }
                    }
                    .parag {
                        color: black;
                        opacity: .8;
                     
                    }
                }
                &:hover {
                    .icon {
                        transform: scale(1);
                    }
                    img {
                        transform: scale(1.1);
                    }
                    .parag {
                        span {
                            color: $hover-bg-color;
                        }
                    }
                }
            }
        }
    }


    // Blog'un Responsive

    @media (min-width:0px) and (max-width:576px){
        .blog-cards{
            grid-template-columns: repeat(1,1fr) !important;
        }
     }
     
     @media (min-width:576px) and (max-width:768px){
        .blog-cards{
            grid-template-columns: repeat(1,1fr) !important;
        }
    
     }
     
     @media (min-width:768px) and (max-width:992px){
        .blog-cards{
            grid-template-columns: repeat(2,1fr) !important;
        }
     }
     
     @media (min-width:992px) and (max-width:1200px){
        .blog-cards{
            grid-template-columns: repeat(3,1fr) !important;
        }
     }
}
