@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
}

.container {
  padding: 30px 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-wrap: nowrap;
  margin: 0px auto;
}

.logo {
  font-size: 25px;
  color: #c3c3c3;
}

.nav-list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap;
}
.nav-list ul a {
  color: black;
  font-size: 20px;
  padding: 10px;
}
.nav-list ul a:hover {
  background-color: #e5e5e5;
}

.icon {
  display: none;
}

@media (max-width: 576px) {
  .nav-list {
    display: none !important;
  }
  .icon {
    display: flex !important;
  }
  .icon .fa-bars {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .nav-list {
    display: none !important;
  }
  .icon {
    display: flex !important;
  }
  .icon .fa-bars {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  .nav-list {
    display: none !important;
  }
  .icon {
    display: flex !important;
  }
  .icon .fa-bars {
    font-size: 25px;
  }
}
#hero {
  padding: 100px 0;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/2625193/images/young-rural-travellers-picnic2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
#hero .card {
  background-color: white;
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
#hero .card-title h2 {
  font-size: 45px;
}
#hero .card-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
#hero .card-info a {
  color: black;
  border-bottom: 0.5px solid black;
  padding: 1px;
}
#hero .card-info button {
  background-color: #a79770;
  color: white;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 20px;
}
#hero .card-info button:hover {
  background-color: #9b8a60;
}

@media (min-width: 0px) and (max-width: 576px) {
  #hero .card {
    width: 100%;
  }
  #hero .card h2 {
    font-size: 30px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #hero .card {
    width: 90%;
  }
  #hero .card h2 {
    font-size: 30px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #hero .card {
    width: 80%;
  }
  #hero .card h2 {
    font-size: 40px !important;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  #hero .card {
    width: 50%;
  }
  #hero .card h2 {
    font-size: 40px !important;
  }
}
#Getaway .container {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
#Getaway .container h1 {
  font-size: 60px;
}
#Getaway .container span {
  font-size: 20px;
}
#Getaway .container span a {
  color: black;
  border-bottom: 1px solid black;
  padding: 1px;
}
#Getaway .container span a:hover {
  border-bottom: 1px solid rgb(228, 213, 9);
  padding: 1px;
}

.getaway-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px 0;
}
.getaway-cards .getaway-card {
  width: 100%;
  position: relative;
}
.getaway-cards .getaway-card .getaway-img {
  width: 100%;
}
.getaway-cards .getaway-card .getaway-img img {
  width: 100%;
  filter: brightness(0.7);
}
.getaway-cards .getaway-card .getaway-info {
  width: 80%;
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  color: white;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
.getaway-cards .getaway-card .getaway-info h3 {
  font-size: 25px;
  white-space: nowrap;
}
.getaway-cards .getaway-card .getaway-info span {
  font-size: 20px;
}

@media (min-width: 0px) and (max-width: 576px) {
  .getaway-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #Getaway h1 {
    font-size: 30px !important;
    white-space: nowrap;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .getaway-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #Getaway h1 {
    font-size: 40px !important;
    white-space: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .getaway-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .getaway-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */