.product-images{
    display: grid;
    grid-template-columns: repeat(4,2fr) !important;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

 .card-image{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
