.product-images{
    display: grid;
    grid-template-columns: repeat(4,1fr) !important;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr) !important;
}

 .card-image{
        display: grid;
        grid-template-columns: repeat(3,1fr) !important;
    }


    .revert-images{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
