$hover-color:#d73e4d;
$hover-bg-color:#d73e4d;
$button-border-color:#d73e4d;
$header-text-color:white;
$services-text-color:white;
$services-bg-color:#232a34;
$services-icon-color:#808489;
$portfolia-text-color: black;
$team-card-bg-color:#e6e6e6;