@mixin flex($align,$justify,$direction:row,$gap:0px,$wrap:nowrap){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $wrap;
}