*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background-color: gainsboro;
   
}
button{
    width: 100px;
    height: 40px;
    background-color: rgb(247, 239, 168);
    color: rgb(25, 116, 116);
    border: none;
    border-radius: 10px;
    margin:20px;
    font-size: larger;
}
.feature{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin: 0px auto;
    margin-top: 60px;
}
p{
    margin-left: 20px;
    font-size: xx-large
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@110.5,300..700&display=swap');
.text{
    margin-left: 20px;
    margin-top: 20px;
    
}

.btn{
    width: 150px;
    height: 40px;
    background-color: rgb(84, 84, 211);
    color: white;
}